/*----------------------------------------------------------------------

	* Import Css
	
	* Body
		- Padding/Margin
	

	* Section Padding
		
	* Fonts Settings	
		- Font Name Heare

	* Header
	
	* Page Banner
	
	* Section Header
	
	* Responsive		
		- min-width: 1200
		- min-width: 992
		- min-width: 768
		- max-width: 1200
		- min-width: 992 to max-width: 1199		
		- max-width: 991
		- min-width: 768 to max-width: 991
		- max-width: 767
		- max-width: 639
		- max-width: 479
------------------------------------------------------------------------*/

/*----------------------------------------------------------------------
	* Import Css
------------------------------------------------------------------------*/
@import "lib.css";
@import "plugins.css";
@import "navigation-menu.css";
@import "shortcode.css";

/* * Body */

body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #000;
	overflow-x: hidden;
}
img {
    max-width: 100%;
	height: auto;
}
a {
    outline: 0 !important;
}

/* - Padding/Margin */
.no-padding {
	padding: 0;
}
.no-left-padding{
	padding-left: 0;
}
.no-right-padding {
	padding-right: 0;
}
.no-top-padding {
	padding-top: 0;
}
.no-bottom-padding {
	padding-bottom: 0;
}
.no-margin {
	margin: 0;
}
.no-left-margin {
	margin-left: 0;
}
.no-right-margin {
	margin-right: 0;
}
.no-top-margin {
	padding-top: 0;
}
.no-bottom-margin {
	margin-bottom: 0;
}


/* * Section Padding */
.section-padding {
	padding-top: 73px;
	padding-bottom: 73px;
}

/* * Fonts Settings */

/* - Playball font-family: 'Playball', cursive; */
/* latin-ext */
@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  src: local('Playball'), local('Playball-Regular'), url("../fonts/Playball-Regular01.woff2") format('woff2');
  unicode-range: U-0100-024F, U-1E00-1EFF, U-20A0-20AB, U-20AD-20CF, U-2C60-2C7F, U-A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  src: local('Playball'), local('Playball-Regular'), url("../fonts/Playball-Regular02.woff2") format('woff2');
  unicode-range: U-0000-00FF, U-0131, U-0152-0153, U-02C6, U-02DA, U-02DC, U-2000-206F, U-2074, U-20AC, U-2212, U-2215, U-E0FF, U-EFFD, U-F000;
}




/* * tablas */
table {
	width: 100%;
	border: 1px solid #000;
 }
 th, td {
	width: 25%;
	text-align: left;
	vertical-align: top;
	border: 1px solid #000;
	border-collapse: collapse;
	padding: 0.3em;
	caption-side: bottom;
 }
 caption {
	padding: 0.3em;
	color: #fff;
	 background: #000;
 }
 th {
	background: #eee;
 }



/* * Page Banner */

.page-banner {
    background-image: url("../img/page-banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 280px;
    min-height: 280px;
    position: relative;
    text-align: center;
}
.page-banner-content h3 {
	font-family: 'Playball', cursive;
	font-size: 70px;
	color: #fff;
	display: inline-block;
	margin: 0;
	padding: 100px 0;
}

/* * Section Header */

.section-header {
	text-align: center;
	margin-bottom: 68px;
}
.section-header.left-header {
	text-align: left;
}
.section-header.left-header p {
	padding: 0;
}
.section-header h3 {
	color: #f88c91;
	font-family: 'Playball', cursive;
	font-size: 45px;
}
.section-header h5 {
	color: #222;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.8px;
	margin-bottom: 0;
	text-transform: uppercase;
}
.section-header img {
	margin-bottom: 28px;
	margin-top: 28px;
}
.section-header p {
	color: #777;
	font-family: 'Arimo', sans-serif;
	font-size: 15px;
	letter-spacing: 0.6px;
	line-height: 26px;
	padding: 0 15px;
}


/*-----------------------------------------------------------------

	 * Responsive 
	 
-------------------------------------------------------------------*/

/* - min-width: 1200 */
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

/* - min-width: 992 */
@media (min-width: 992px) {
	/* - Header Main */
	.header-main .add-to-cart .cart .dropdown-menu > li > a{
		display: inline-block;
	}
	.header-main.navbar-fixed-top .cart {
		margin-top: 40px;
	}
	.header-main.navbar-fixed-top .menu-search .sb-icon-search, 
	.header-main.navbar-fixed-top .menu-search .sb-search-submit {
		top: 35px;
	}
	.header-main .cart .remove {
		background-color: transparent;
		font-size: 24px;
	}
	.header-main .cart .shop-thumbnail {
		background-color: transparent;
	}
	/* * Section Header */
	.section-header p {
		padding: 0 18%;
	}
	.section-header.left-header p {
		padding: 0;
	}
}

/* - min-width: 1200 to max-width: 1366 */
@media only screen and (min-width: 1200px) and (max-width: 1366px) {
	.subscribe-section-1 {
		padding: 27px 220px;
	}
}

/* - max-width: 767 */
@media (max-width: 767px) {
	
}

/* - max-width: 1200px */
@media (max-width: 1200px) {
	
}

/* - min-width: 992 to max-width: 1199 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header-main .cart {
		/* -- Header Main */
		padding-left: 30px;
	}
	.header-main.header-position .ow-navigation .nav.navbar-nav li {
		margin-left: 6px;
		margin-right: 6px;
	}
	.subscribe-section-1 {
		padding: 27px 50px;
	}
	.header-main .cart > li > a {
		padding: 10px 20px;
	}
}

/* - max-width: 991 */
@media (max-width: 991px) {
	/* - Top Header */
	.top-header {
		text-align: center;
	}
	.social-icons {
		width: 100%;
		text-align: center;
	}
	.top-header .contact li::after,
	.top-header .language-dropdown.dropdown::after {
		display: none;
	}
	.top-header .social-icons li::after {
		display: none;
	}
	/* - Header Position */
	.header-position .menu-bar {
		display: none;
	}
	/* - Header Main */
	.header-main,
	.header-main .container {
		position: relative;
	}
	.header-main .add-to-cart {
		display: inline-block;
		float: none;
		position: absolute;
		right: 75px;
		top: -15px;
	}
	.header-main .add-to-cart .cart .dropdown-menu {
		background-color: #f88c91;
		color: #fff;
		width: 350px;
		position: absolute;
		z-index: 3;
		padding-bottom: 20px;
		top: 100px;
		left: auto;
		right: 0;
		border-radius: 0;
	}
	.header-main .add-to-cart .cart .dropdown-menu > li > a {
		display: inline-block;
		padding: 7px 8px;
	}
	.header-main .add-to-cart .cart .dropdown-menu .mini_cart_item a {
		background-color: transparent;
	}
	
	/* - Subscribe Section */
	.subscribe-title {
		font-size: 16px;
	}
	
	/* - Footer Main */
	.footer-main .footer-content .about-footer p {
		padding: 0;
	}
	.footer-main .col-md-4.col-sm-6 {
		margin-bottom: 30px;
	}
	.footer-main .col-xs-6:nth-child(2n-1) {
		clear: left;
	}
	
	.subscribe-section-1 {
		padding: 27px 15px;
	}
}

/* - min-width: 768 to max-width: 991 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
}

/* - max-width: 767 */
@media (max-width: 767px) {	
	/* - Subscribe Section */
	.subscribe-title {
		margin-bottom: 20px;
		margin-top: 0;
	}
	/* - Footer Main */
	.footer-main .footer-content .about-footer h3 {
		font-size: 20px;
	}
	
	/* - Bottom Footer */
	.bottom-footer .footer-copyright {
		width: 100%;
		text-align: center;
	}
	/* - Bottom Footer */
	.bottom-footer .footer-breadcrumb {
		float: none !important;
		text-align: center;
	}
	.bottom-footer .footer-copyright p {
		margin-bottom: 20px;
	}
	.subscribe-section-1 .subscribe-title {
		text-align: center;
	}
}

/* -  max-width: 639 */
@media (max-width: 639px) {
	/* - Header Main */
	.header-main .cart {
		padding-left: 25px;
	}
	.header-main .cart > li > a {
		padding: 8px 20px;
	}
	.header-main .menu-search .sb-search.sb-search-open .sb-search-input {
		width: 200px;
	}
	/* - Footer Main */
	.footer-main .col-md-4.col-sm-6.col-xs-6 {
		width: 100%;
	}
	/* - Footer Main 1 */
	.footer-main-1 .ftr-widget {
		width: 100%;
		margin-bottom: 30px;
	}
	.footer-main-1 .col-xs-6.ftr-widget.recent-widget > a {
		display: block;
	}
}

/* -  max-width: 479 */
@media (max-width: 479px) {
	/* - Header Main */
	.header-main .add-to-cart {
		right: 50px;
		top: -14px;
	}
	.header-main .cart > li > a {
		padding: 7px 10px;
		font-size: 10px;
	}
	.header-main .cart {
		padding-left: 15px;
	}
	.header-main .menu-search .sb-icon-search, .menu-search .sb-search-submit {
		top: 30px;
	}
	.header-main .add-to-cart .cart .dropdown-menu {
		right: -65px;
		width: 280px;
	}
	.header-main .add-to-cart .cart .dropdown-menu > li > a {
		padding: 7px 5px;
	}
	.header-main .add-to-cart .cart .dropdown-menu {
		right: -80px;
		width: 338px;
	}
	/* - Subscribe Section  */
	.subscribe-section .col-xs-8 {
		width: 100%;
	}
	.subscribe-section .col-xs-4 {
		padding-left: 15px;
		margin-top: 15px;
		width: 100%;
	}
	.section-padding {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

/* -  max-width: 360 */
@media (max-width: 360px) {
	.header-main .menu-search .sb-search.sb-search-open .sb-search-input {
		width: 132px;
	}
}

